<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partial/head.html') %> 
</head>
<body>
    <div class="contenedor">
        <!-- Navegacion - Submenus -->
        <%- include('./partial/nav.html') %> 
        
        <!-- Titulo de pagina -->
		<div class="titulo">
			<div class="titulo__contenedor">
				<div class="titulo__textos">
					<h1 class="titulo__titulo">Contacto</h1>
					<h2 class="titulo__subtitulo">Encuentrame en...</h2>
				</div>
			</div>
        </div>

        <!-- SCRIPTS -->
        <!-- Menus laterales -->
        <script src="/code/menu.js"></script>
    </div>
</body>
</html>