<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partial/head.html') %> 
  <style>
    .contenedor {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .succes {
      margin: 10px 0;
      width: 200px;
    }

  </style>
</head>
<body>

  <div class="contenedor">
    <h1>
      Mensaje Enviado
    </h1>
    <div class="boton succes">
      <a class="boton__texto" href="/contacto">
        VOLVER
      </a>
    </div>
  </div>
  
</body>
</html>