<html lang="es">
    <div class="footer">
        <div class="footer__contenedor">
            <div class="footer__redes">
                <h3 class="footer__titulo">Redes sociales</h3>
                <div class="footer__iconos">
                    <ul class="footer__lista-iconos">
                        <li class="footer__icono-red">
                            <a href="" class="footer__enlace-red"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="footer__icono-red">
                            <a href="" class="footer__enlace-red"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="footer__icono-red">
                            <a href="" class="footer__enlace-red"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="footer__icono-red">
                            <a href="" class="footer__enlace-red"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <footer class="footer__texto">
                <i class="far fa-copyright"></i> Desarrollado por <span>Nicolas Aguilera Garcia</span>
            </footer>
        </div>
    </div>
</html>