<html lang="es">
    <nav class="navegacion">
        <div class="navegacion__navbar">
            <div class="navegacion__izquierda">
                <ul class="desplegable">
                    <li class="desplegable__lista">
                        <a class="desplegable__boton navegacion__textos" id="astros-btn">
                            <i class="fas fa-globe-americas navegacion__icono"></i>Astros</a
                        >
                        <ul class="desplegable__lista-planetas desplegable__cerrar">
                            <div class="desplegable__boton-cerrar" id="astros-btn-cerrar">
                                <span class="desplegable__x"> x </span>
                            </div>
                            <li class="deplegable__elementos">
                                <img src="./img/planetas/sol.svg" alt="" class="desplegable__img" />
                                <a href="/#" class="desplegable__elemento-boton"> Sol </a>
                            </li>
                            <li class="deplegable__elementos">
                                <img src="./img/planetas/planeta_mercurio.svg" alt="" class="desplegable__img" />
                                <a href="/#mercurio" class="desplegable__elemento-boton"> Mercurio </a>
                            </li>
                            <li class="deplegable__elementos">
                                <img src="./img/planetas/planeta_venus.svg" alt="" class="desplegable__img" />
                                <a href="/#venus" class="desplegable__elemento-boton"> Venus </a>
                            </li>
                            <li class="deplegable__elementos">
                                <img src="./img/planetas/planeta_tierra.svg" alt="" class="desplegable__img" />
                                <a href="/#tierra" class="desplegable__elemento-boton"> Tierra </a>
                            </li>
                            <li class="deplegable__elementos">
                                <img src="./img/planetas/planeta_marte.svg" alt="" class="desplegable__img" />
                                <a href="/#marte" class="desplegable__elemento-boton"> Marte </a>
                            </li>
                            <li class="deplegable__elementos">
                                <img src="./img/planetas/planeta_jupiter.svg" alt="" class="desplegable__img" />
                                <a href="/#jupiter" class="desplegable__elemento-boton"> Jupiter </a>
                            </li>
                            <li class="deplegable__elementos">
                                <img src="./img/planetas/planeta_saturno.svg" alt="" class="desplegable__img" />
                                <a href="/#saturno" class="desplegable__elemento-boton"> Saturno </a>
                            </li>
                            <li class="deplegable__elementos">
                                <img src="./img/planetas/planeta_urano.svg" alt="" class="desplegable__img" />
                                <a href="/#urano" class="desplegable__elemento-boton"> Urano </a>
                            </li>
                            <li class="deplegable__elementos">
                                <img src="./img/planetas/planeta_neptuno.svg" alt="" class="desplegable__img" />
                                <a href="/#neptuno" class="desplegable__elemento-boton"> Neptuno </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="navegacion__btn-derecha" id="menu-btn">
                <i class="fas fa-bars"></i>
            </div>

            <div class="navegacion__derecha navegacion__der-cerrar ">
                <div class="navegacion_der-btn-cerrar" id="menu-btn-cerrar">
                    <p>X</p>
                </div>
                <ul class="navegacion__der-lista">
                    <li class="navegacion__elemento-der-lista">
                        <a href="/info" class="navegacion__enlace navegacion__textos"
                            ><i class="fas fa-user-astronaut navegacion__icono"></i>Info</a
                        >
                    </li>
                    <li class="navegacion__elemento-der-lista">
                        <a href="/contacto" class="navegacion__enlace navegacion__textos"
                            ><i class="fas fa-satellite-dish navegacion__icono"></i>Contact</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</html>